<nav class="navbar topbar">

  <!-- LEFT -->

  <div class="nav-left">

    <div class="welcome">

      👋 Hello,
      <b><%= user.name %></b>

    </div>

  </div>

  <!-- CENTER -->

  <div class="nav-center">

    <a href="/teams">

      Teams

    </a>

    <a href="/teams/new">

      Create Team

    </a>

  </div>

  <!-- RIGHT -->

  <div class="nav-right">

    <span class="jwt">

      <i class="fa-solid fa-shield-halved"></i>

      JWT Active

    </span>

    <button class="icon-btn">

      <i class="fa-regular fa-bell"></i>

    </button>

    <form
      action="/logout"
      method="POST"
      style="margin:0;"
    >

      <button
        type="submit"
        class="icon-btn"
      >

        <i class="fa-solid fa-right-from-bracket"></i>

      </button>

    </form>

  </div>

</nav>